<div class="container-about {{ storedTheme }}" id="about">
  <div class="image-container">
    <img
    class="image-about"
    width="{{ 400 }}"
    src="https://images.vexels.com/media/users/3/152300/isolated/preview/ae0fc81df564354bb6b22d3b4fca7e85-astronauta-con-dibujos-animados-de-bandera.png"
    alt=""
    />
  </div>
  <div class="container_about_content">
    <h1>{{ "ABOUT_TITLE" | translate }}</h1>
    <p>
      {{ "ABOUT_PARAGRAPH" | translate }}
      <a href="#contact" id="link">{{ "ABOUT_CLICK" | translate }}</a>
    </p>
  </div>
</div>
