<div class="card-project">
  <img [src]="project.image" alt="titulo" >
  <h4>{{ project.name }}</h4>
  <div class="container-buttons">
    <a [routerLink]="['/project',project.id]"><button>{{ "BUTTON_DETAILS" | translate }}</button></a>
    <a [href]="project.github" target="_blank"><button>Github</button></a>
  </div>
  <p>
    {{ project.description.slice(0, 100) }}...
  </p>
  <!-- <div class="list-languages">
    <div *ngFor="let language of project.technologies" class="language">
      <p> {{ language }}</p>
    </div> -->
  <!-- </div> -->
</div>

